.box{
    background-color: springgreen;
    border:1px solid lightgrey;
    border-radius: 10px;

    width:500px;
    margin:20px auto;
    

}

.box-body{
    padding: 40px;
    margin:20px auto;
}

.btn{
    border-radius: 20px;
    border: none;
    font-size: 15px; 
    height:30px;
    width: 180px;
    font-weight: bold;
}


